*{
	box-sizing: border-box;
}
body {
	font-family: "Nunito", sans-serif;
}
.titlebox {
	background-color: #a3c1ad;
	padding: 10px;
	margin: 0px;
	text-align: center;
	font-size: 4em;
	text-transform: uppercase;
	font-style: normal;
} 
h2 {
	background-color: #a3c1ad;
	padding: 10px;
	margin-top: 5px;
	text-align: center;
	font-size: 2em;
	font-style: normal;
}
h3 {
	margin-top: 5px;
	margin-bottom: 0px;
	text-align: center;
	font-size: 1.5em;
	font-style: normal;
}
h4 {
	margin-top: 5px;
	padding: 10px;
	text-align: center;
	font-size: 1.2em;
	font-style: normal;
}

.qnum{
	font-size: 120%;
	cursor: pointer;
	clear: both;
	float: left;
	background-color: #a3c1ad;
	margin-right: 5px;
	padding: 5px;

}
.optn_txt{
	font-size: 120%;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}


.description {
	font-size: 120%;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	margin: 5px;
}

#extra_description {
	clear: both;
	font-style: bold;
	font-size: 120%
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 0px;
}

}
div.questionbox {
	background-color: #a3c1ad; 
	margin: 5px;
}

.linkbutton{
	clear:both;
	font-style: bold;
	font-size: 150%;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}